body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 900;
}

nav .nav-item {
    margin: 5px;
}

nav .nav-item .nav-link img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.nav-link {
    font-size: 15px;
}

.nav-item a:hover, a:focus {
        background-color: #eeeeee;
    border-radius: 5px;
}

.card {
    width: auto!important;
}


.card .card-img-top {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: 0 30px;
}

.card-body .teacher-info li {
    margin-bottom: 3px;
}
